@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");

/* ===================
   Variables y Reset
   =================== */
:root {
    --colorPrimario: #F2BBC9;
    --colorOverlay: #F2CED8;
    --colorSecundario: #D95B7D;
    --colorMediador: #8C1636;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===================
   Base
   =================== */
body {
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.6;
    color: rgba(0,0,0,.9);
    background-color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ===================
   Layout Principal
   =================== */
header,
footer {
    border: 7px solid black;
    background-color: var(--colorPrimario);
    text-align: center;
    padding: 60px 0 40px;
}

main {
    border-right: 7px solid black;
    border-left: 7px solid black;
    background-color: var(--colorSecundario);
}

/* ===================
   Header
   =================== */
h1,
h2 {
    font-family: "Climate Crisis", sans-serif;
    font-weight: 400;
    line-height: 1.1;
    position: relative;
    z-index: 1;
}

h1 {
    font-size: calc(1.2rem + 3vw);
    margin-bottom: 1rem;
    text-transform: uppercase;
}

h2 {
    font-size: calc(0.9rem + 0.9vw);
    margin-bottom: 30px;
}

/* ===================
   Navigation
   =================== */
.nav {
    text-align: center;
    padding: 2rem 0 1rem 0;
}

.nav a {
    font-family: "Climate Crisis", sans-serif;
    letter-spacing: 2px;
    font-size: calc(0.6rem + 0.6vw);
    background-color: var(--colorMediador);
    color: rgba(0,0,0,.9);
    border: 6px solid #000;
    padding: 25px 50px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 12px 12px 0 #000;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: transform 0.1s ease, box-shadow 0.1s ease, background-color 1s ease;
}
